<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.luckycloud.mapper.blog.CloudBlogInfoMapper">

    <resultMap id="BaseResultMap" type="org.luckycloud.domain.blog.CloudBlogInfoDO">
            <id property="blogId" column="blog_id" jdbcType="VARCHAR"/>
            <result property="blogTitle" column="blog_title" jdbcType="VARCHAR"/>
            <result property="blogAbstract" column="blog_abstract" jdbcType="VARCHAR"/>
            <result property="blogContent" column="blog_content" jdbcType="VARCHAR"/>
            <result property="slug" column="slug" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="VARCHAR"/>
            <result property="coverImage" column="cover_image" jdbcType="VARCHAR"/>
            <result property="blogStatus" column="blog_status" jdbcType="CHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="CHAR"/>
    </resultMap>

   <resultMap id="CategoryCountMap" type="org.luckycloud.dto.blog.response.CategoryCount">
        <result property="categoryId" column="category_id" jdbcType="VARCHAR"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        blog_id,blog_title,blog_abstract,
        blog_content,slug,user_id,
        category_id,cover_image,blog_status,
        create_time,update_time,status
    </sql>

    <select id="selectByBlogId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cloud_blog_info
        where  blog_id = #{blogId,jdbcType=VARCHAR}
        and
        status = '1'
    </select>
    <select id="calculateCategoryCount" resultMap="CategoryCountMap">
        select category_id as category_id,
               count(*) as count
        from cloud_blog_info
        where status = '1'
        group by category_id
    </select>
    <select id="getBlogList" resultType="org.luckycloud.domain.blog.CloudBlogInfoDO">
        select
        blog_id,
        blog_title,
        blog_abstract,
        slug,user_id,
        category_id,
        cover_image,
        update_time
        from cloud_blog_info
        where status = '1'
        <if test="query.categoryId != null and query.categoryId != ''">
            and category_id = #{query.categoryId,jdbcType=VARCHAR}
        </if>
        <if test="query.blogStatus != null and query.blogStatus != ''">
            and blog_status = #{query.blogStatus,jdbcType=CHAR}
        </if>
        <if test="query.blogIdList != null and query.blogIdList.size() > 0">
            and blog_id in
            <foreach item="item" index="index" collection="query.blogIdList"
                     open="(" separator="," close=")">
                #{item,jdbcType=VARCHAR}
            </foreach>
        </if>
        order by create_time desc

    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from cloud_blog_info
        where  blog_id = #{blogId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" keyColumn="blog_id" keyProperty="blogId" parameterType="org.luckycloud.domain.blog.CloudBlogInfoDO" useGeneratedKeys="true">
        insert into cloud_blog_info
        ( blog_id,blog_title,blog_abstract
        ,blog_content,slug,user_id
        ,category_id,cover_image,blog_status
        ,create_time,update_time,status
        )
        values (#{blogId,jdbcType=VARCHAR},#{blogTitle,jdbcType=VARCHAR},#{blogAbstract,jdbcType=VARCHAR}
        ,#{blogContent,jdbcType=VARCHAR},#{slug,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR}
        ,#{categoryId,jdbcType=VARCHAR},#{coverImage,jdbcType=VARCHAR},#{blogStatus,jdbcType=CHAR}
        ,#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{status,jdbcType=CHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="blog_id" keyProperty="blogId" parameterType="org.luckycloud.domain.blog.CloudBlogInfoDO" useGeneratedKeys="true">
        insert into cloud_blog_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="blogId != null">blog_id,</if>
                <if test="blogTitle != null">blog_title,</if>
                <if test="blogAbstract != null">blog_abstract,</if>
                <if test="blogContent != null">blog_content,</if>
                <if test="slug != null">slug,</if>
                <if test="userId != null">user_id,</if>
                <if test="categoryId != null">category_id,</if>
                <if test="coverImage != null">cover_image,</if>
                <if test="blogStatus != null">blog_status,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="blogId != null">blog_id = #{blogId,jdbcType=VARCHAR},</if>
                <if test="blogTitle != null">blog_title = #{blogTitle,jdbcType=VARCHAR},</if>
                <if test="blogAbstract != null">blog_abstract = #{blogAbstract,jdbcType=VARCHAR},</if>
                <if test="blogContent != null">blog_content = #{blogContent,jdbcType=VARCHAR},</if>
                <if test="slug != null">slug = #{slug,jdbcType=VARCHAR},</if>
                <if test="userId != null">user_id = #{userId,jdbcType=VARCHAR},</if>
                <if test="categoryId != null">category_id = #{categoryId,jdbcType=VARCHAR},</if>
                <if test="coverImage != null">cover_image = #{coverImage,jdbcType=VARCHAR},</if>
                <if test="blogStatus != null">blog_status = #{blogStatus,jdbcType=CHAR},</if>
                <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="status != null">status = #{status,jdbcType=CHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.luckycloud.domain.blog.CloudBlogInfoDO">
        update cloud_blog_info
        <set>
                <if test="blogTitle != null">
                    blog_title = #{blogTitle,jdbcType=VARCHAR},
                </if>
                <if test="blogAbstract != null">
                    blog_abstract = #{blogAbstract,jdbcType=VARCHAR},
                </if>
                <if test="blogContent != null">
                    blog_content = #{blogContent,jdbcType=VARCHAR},
                </if>
                <if test="slug != null">
                    slug = #{slug,jdbcType=VARCHAR},
                </if>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=VARCHAR},
                </if>
                <if test="categoryId != null">
                    category_id = #{categoryId,jdbcType=VARCHAR},
                </if>
                <if test="coverImage != null">
                    cover_image = #{coverImage,jdbcType=VARCHAR},
                </if>
                <if test="blogStatus != null">
                    blog_status = #{blogStatus,jdbcType=CHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=CHAR},
                </if>
        </set>
        where   blog_id = #{blogId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.luckycloud.domain.blog.CloudBlogInfoDO">
        update cloud_blog_info
        set
            blog_title =  #{blogTitle,jdbcType=VARCHAR},
            blog_abstract =  #{blogAbstract,jdbcType=VARCHAR},
            blog_content =  #{blogContent,jdbcType=VARCHAR},
            slug =  #{slug,jdbcType=VARCHAR},
            user_id =  #{userId,jdbcType=VARCHAR},
            category_id =  #{categoryId,jdbcType=VARCHAR},
            cover_image =  #{coverImage,jdbcType=VARCHAR},
            blog_status =  #{blogStatus,jdbcType=CHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            status =  #{status,jdbcType=CHAR}
        where   blog_id = #{blogId,jdbcType=VARCHAR}
    </update>
</mapper>
