<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.luckycloud.mapper.blog.CloudBlogTagMapper">

    <resultMap id="BaseResultMap" type="org.luckycloud.domain.blog.CloudBlogTagDO">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="blogId" column="blog_id" jdbcType="VARCHAR"/>
        <result property="tagName" column="tag_name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,blog_id,
        tag_name,status
    </sql>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from cloud_blog_tag
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteBlogTag">
        delete
        from cloud_blog_tag
        where blog_id = #{blogId,jdbcType=VARCHAR}
    </delete>
    <select id="selectBlogIdListByTagName" resultType="java.lang.String">
        select blog_id
        from cloud_blog_tag
        where tag_name like CONCAT('%', #{tagName,jdbcType=VARCHAR}, '%')
          and status = '1'
    </select>
    <select id="selectBlogTag" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cloud_blog_tag
        where blog_id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and status = '1'

    </select>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.luckycloud.domain.blog.CloudBlogTagDO"
            useGeneratedKeys="true">
        insert into cloud_blog_tag
            (id, blog_id, tag_name, status)
        values (#{id,jdbcType=INTEGER}, #{blogId,jdbcType=VARCHAR}, #{tagName,jdbcType=VARCHAR},
                #{status,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="org.luckycloud.domain.blog.CloudBlogTagDO" useGeneratedKeys="true">
        insert into cloud_blog_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="blogId != null">blog_id,</if>
            <if test="tagName != null">tag_name,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">id = #{id,jdbcType=INTEGER},</if>
            <if test="blogId != null">blog_id = #{blogId,jdbcType=VARCHAR},</if>
            <if test="tagName != null">tag_name = #{tagName,jdbcType=VARCHAR},</if>
            <if test="status != null">status = #{status,jdbcType=CHAR},</if>
        </trim>
    </insert>
    <insert id="batchInsert">
        insert into cloud_blog_tag
        ( blog_id,tag_name,status)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.blogId,jdbcType=VARCHAR},
            #{item.tagName,jdbcType=VARCHAR},
            #{item.status,jdbcType=CHAR})
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.luckycloud.domain.blog.CloudBlogTagDO">
        update cloud_blog_tag
        <set>
            <if test="blogId != null">
                blog_id = #{blogId,jdbcType=VARCHAR},
            </if>
            <if test="tagId != null">
                tag_id = #{tagId,jdbcType=VARCHAR},
            </if>
            <if test="tagName != null">
                tag_name = #{tagName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.luckycloud.domain.blog.CloudBlogTagDO">
        update cloud_blog_tag
        set blog_id  = #{blogId,jdbcType=VARCHAR},
            tag_id   = #{tagId,jdbcType=VARCHAR},
            tag_name = #{tagName,jdbcType=VARCHAR},
            status   = #{status,jdbcType=CHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
