<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.luckycloud.mapper.user.CloudUserInfoMapper">

    <resultMap id="BaseResultMap" type="org.luckycloud.domain.user.CloudUserInfoDO">
            <id property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="mail" column="mail" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="accountStatus" column="account_status" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_name,password,
        mail,create_time,update_time,
        account_status,status
    </sql>

    <select id="findByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cloud_user_info
        where  user_id = #{userId}
    </select>
    <select id="findByUsername" resultType="org.luckycloud.domain.user.CloudUserInfoDO">

        select
        <include refid="Base_Column_List" />
        from cloud_user_info
        where  user_name = #{userName}
    </select>
    <select id="findByMail" resultType="org.luckycloud.domain.user.CloudUserInfoDO">
        select
        <include refid="Base_Column_List" />
        from cloud_user_info
        where  mail = #{mail}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from cloud_user_info
        where  user_id = #{userId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" keyColumn="USER_ID" keyProperty="userId" parameterType="org.luckycloud.domain.user.CloudUserInfoDO" useGeneratedKeys="true">
        insert into cloud_user_info
        ( user_id,user_name,password
        ,mail,create_time,update_time
        ,account_status,status)
        values (#{userId,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}
        ,#{mail,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP}
        ,#{accountStatus,jdbcType=CHAR},#{status,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" keyColumn="USER_ID" keyProperty="userId" parameterType="org.luckycloud.domain.user.CloudUserInfoDO" useGeneratedKeys="true">
        insert into cloud_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId != null">user_id,</if>
                <if test="userName != null">user_name,</if>
                <if test="password != null">password,</if>
                <if test="mail != null">mail,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="accountStatus != null">account_status,</if>
                <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="userId != null">user_id = #{userId,jdbcType=VARCHAR},</if>
                <if test="userName != null">user_name = #{userName,jdbcType=VARCHAR},</if>
                <if test="password != null">password = #{password,jdbcType=VARCHAR},</if>
                <if test="mail != null">mail = #{mail,jdbcType=VARCHAR},</if>
                <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="accountStatus != null">account_status = #{accountStatus,jdbcType=CHAR},</if>
                <if test="status != null">status = #{status,jdbcType=CHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.luckycloud.domain.user.CloudUserInfoDO">
        update cloud_user_info
        <set>
                <if test="userName != null">
                    user_name = #{userName,jdbcType=VARCHAR},
                </if>
                <if test="password != null">
                    password = #{password,jdbcType=VARCHAR},
                </if>
                <if test="mail != null">
                    mail = #{mail,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="accountStatus != null">
                    account_status = #{accountStatus,jdbcType=CHAR},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=CHAR},
                </if>
        </set>
        where   user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.luckycloud.domain.user.CloudUserInfoDO">
        update cloud_user_info
        set
            user_name =  #{userName,jdbcType=VARCHAR},
            password =  #{password,jdbcType=VARCHAR},
            mail =  #{mail,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            account_status =  #{accountStatus,jdbcType=CHAR},
            status =  #{status,jdbcType=CHAR}
        where   user_id = #{userId,jdbcType=VARCHAR}
    </update>
</mapper>
