<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.luckycloud.mapper.todo.CloudJoinTodoListsMapper">

    <resultMap id="BaseResultMap" type="org.luckycloud.domain.todo.CloudJoinTodoListsDO">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="listId" column="list_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,list_id,
        create_time,update_time,status
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cloud_join_todo_lists
        where  id = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from cloud_join_todo_lists
        where  id = #{id,jdbcType=VARCHAR}
    </delete>
    <update id="deleteUserJoin">
        update
            cloud_join_todo_lists
        set status      = #{status,jdbcType=CHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where list_id = #{listId,jdbcType=VARCHAR}
          and user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.luckycloud.domain.todo.CloudJoinTodoListsDO" useGeneratedKeys="true">
        insert into cloud_join_todo_lists
        ( id,user_id,list_id
        ,create_time,update_time,status
        )
        values (#{id,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{listId,jdbcType=VARCHAR}
        ,#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{status,jdbcType=CHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.luckycloud.domain.todo.CloudJoinTodoListsDO" useGeneratedKeys="true">
        insert into cloud_join_todo_lists
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">user_id,</if>
                <if test="listId != null">list_id,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">id = #{id,jdbcType=VARCHAR},</if>
                <if test="userId != null">user_id = #{userId,jdbcType=VARCHAR},</if>
                <if test="listId != null">list_id = #{listId,jdbcType=VARCHAR},</if>
                <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="status != null">status = #{status,jdbcType=CHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.luckycloud.domain.todo.CloudJoinTodoListsDO">
        update cloud_join_todo_lists
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=VARCHAR},
                </if>
                <if test="listId != null">
                    list_id = #{listId,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=CHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.luckycloud.domain.todo.CloudJoinTodoListsDO">
        update cloud_join_todo_lists
        set
            user_id =  #{userId,jdbcType=VARCHAR},
            list_id =  #{listId,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            status =  #{status,jdbcType=CHAR}
        where   id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectByListId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cloud_join_todo_lists
        where list_id = #{listId,jdbcType=VARCHAR}
        and status = '1'
        order by create_time
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cloud_join_todo_lists
        where user_id = #{userId,jdbcType=VARCHAR}
        and status = '1'
        order by create_time desc
    </select>

    <select id="selectByListIdAndUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cloud_join_todo_lists
        where list_id = #{listId,jdbcType=VARCHAR}
        and user_id = #{userId,jdbcType=VARCHAR}
        and status = '1'
        limit 1
    </select>
</mapper>
