<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.luckycloud.mapper.emoji.CloudEmojiInfoMapper">

    <resultMap id="BaseResultMap" type="org.luckycloud.domain.emoji.CloudEmojiInfoDO">
            <id property="emojiId" column="emoji_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="ipId" column="ip_id" jdbcType="VARCHAR"/>
            <result property="emojiGroupId" column="emoji_group_id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="promptText" column="prompt_text" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="fileUrl" column="file_url" jdbcType="VARCHAR"/>
            <result property="fileSize" column="file_size" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        emoji_id,user_id,ip_id,
        emoji_group_id,name,prompt_text,
        type,file_url,file_size,
        create_time,update_time,status
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cloud_emoji_info
        where  emoji_id = #{emojiId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from cloud_emoji_info
        where  emoji_id = #{emojiId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" keyColumn="emoji_id" keyProperty="emojiId" parameterType="org.luckycloud.domain.emoji.CloudEmojiInfoDO" useGeneratedKeys="true">
        insert into cloud_emoji_info
        ( emoji_id,user_id,ip_id
        ,emoji_group_id,name,prompt_text
        ,type,file_url,file_size
        ,create_time,update_time,status
        )
        values (#{emojiId,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{ipId,jdbcType=VARCHAR}
        ,#{emojiGroupId,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{promptText,jdbcType=VARCHAR}
        ,#{type,jdbcType=VARCHAR},#{fileUrl,jdbcType=VARCHAR},#{fileSize,jdbcType=INTEGER}
        ,#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{status,jdbcType=CHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="emoji_id" keyProperty="emojiId" parameterType="org.luckycloud.domain.emoji.CloudEmojiInfoDO" useGeneratedKeys="true">
        insert into cloud_emoji_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="emojiId != null">emoji_id,</if>
                <if test="userId != null">user_id,</if>
                <if test="ipId != null">ip_id,</if>
                <if test="emojiGroupId != null">emoji_group_id,</if>
                <if test="name != null">name,</if>
                <if test="promptText != null">prompt_text,</if>
                <if test="type != null">type,</if>
                <if test="fileUrl != null">file_url,</if>
                <if test="fileSize != null">file_size,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="emojiId != null">emoji_id = #{emojiId,jdbcType=VARCHAR},</if>
                <if test="userId != null">user_id = #{userId,jdbcType=VARCHAR},</if>
                <if test="ipId != null">ip_id = #{ipId,jdbcType=VARCHAR},</if>
                <if test="emojiGroupId != null">emoji_group_id = #{emojiGroupId,jdbcType=VARCHAR},</if>
                <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
                <if test="promptText != null">prompt_text = #{promptText,jdbcType=VARCHAR},</if>
                <if test="type != null">type = #{type,jdbcType=VARCHAR},</if>
                <if test="fileUrl != null">file_url = #{fileUrl,jdbcType=VARCHAR},</if>
                <if test="fileSize != null">file_size = #{fileSize,jdbcType=INTEGER},</if>
                <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="status != null">status = #{status,jdbcType=CHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.luckycloud.domain.emoji.CloudEmojiInfoDO">
        update cloud_emoji_info
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=VARCHAR},
                </if>
                <if test="ipId != null">
                    ip_id = #{ipId,jdbcType=VARCHAR},
                </if>
                <if test="emojiGroupId != null">
                    emoji_group_id = #{emojiGroupId,jdbcType=VARCHAR},
                </if>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="promptText != null">
                    prompt_text = #{promptText,jdbcType=VARCHAR},
                </if>
                <if test="type != null">
                    type = #{type,jdbcType=VARCHAR},
                </if>
                <if test="fileUrl != null">
                    file_url = #{fileUrl,jdbcType=VARCHAR},
                </if>
                <if test="fileSize != null">
                    file_size = #{fileSize,jdbcType=INTEGER},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=CHAR},
                </if>
        </set>
        where   emoji_id = #{emojiId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.luckycloud.domain.emoji.CloudEmojiInfoDO">
        update cloud_emoji_info
        set
            user_id =  #{userId,jdbcType=VARCHAR},
            ip_id =  #{ipId,jdbcType=VARCHAR},
            emoji_group_id =  #{emojiGroupId,jdbcType=VARCHAR},
            name =  #{name,jdbcType=VARCHAR},
            prompt_text =  #{promptText,jdbcType=VARCHAR},
            type =  #{type,jdbcType=VARCHAR},
            file_url =  #{fileUrl,jdbcType=VARCHAR},
            file_size =  #{fileSize,jdbcType=INTEGER},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            status =  #{status,jdbcType=CHAR}
        where   emoji_id = #{emojiId,jdbcType=VARCHAR}
    </update>

    <!-- 根据系列ID统计表情包数量 -->
    <select id="countByGroupId" resultType="int">
        select count(1)
        from cloud_emoji_info
        where emoji_group_id = #{emojiGroupId,jdbcType=VARCHAR}
          and status = '1'
    </select>

    <!-- 根据系列ID批量逻辑删除表情包 -->
    <update id="deleteByGroupId">
        update cloud_emoji_info
        set status = '0',
            update_time = now()
        where emoji_group_id = #{emojiGroupId,jdbcType=VARCHAR}
          and status = '1'
    </update>

    <!-- 根据条件查询表情包列表 -->
    <select id="selectEmojiInfoList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cloud_emoji_info
        <where>
            status = '1'
            <if test="query.userId != null and query.userId != ''">
                AND user_id = #{query.userId}
            </if>
            <if test="query.name != null and query.name != ''">
                AND name LIKE CONCAT('%', #{query.name}, '%')
            </if>
            <if test="query.type != null and query.type != ''">
                AND type = #{query.type}
            </if>
            <if test="query.emojiGroupId != null and query.emojiGroupId != ''">
                AND emoji_group_id = #{query.emojiGroupId}
            </if>
            <if test="query.ipId != null and query.ipId != ''">
                AND ip_id = #{query.ipId}
            </if>
            <if test="query.promptText != null and query.promptText != ''">
                AND prompt_text LIKE CONCAT('%', #{query.promptText}, '%')
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
