<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.luckycloud.mapper.emoji.CloudEmojiIpInfoMapper">

    <resultMap id="BaseResultMap" type="org.luckycloud.domain.emoji.CloudEmojiIpInfoDO">
            <id property="ipId" column="ip_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
            <result property="sourceType" column="source_type" jdbcType="VARCHAR"/>
            <result property="sourceKeyword" column="source_keyword" jdbcType="VARCHAR"/>
            <result property="promptText" column="prompt_text" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="isDefault" column="is_default" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ip_id,user_id,name,
        image_url,source_type,source_keyword,
        prompt_text,description,is_default,
        create_time,update_time,status
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cloud_emoji_ip_info
        where  ip_id = #{ipId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from cloud_emoji_ip_info
        where  ip_id = #{ipId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" keyColumn="ip_id" keyProperty="ipId" parameterType="org.luckycloud.domain.emoji.CloudEmojiIpInfoDO" useGeneratedKeys="true">
        insert into cloud_emoji_ip_info
        ( ip_id,user_id,name
        ,image_url,source_type,source_keyword
        ,prompt_text,description,is_default
        ,create_time,update_time,status
        )
        values (#{ipId,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR}
        ,#{imageUrl,jdbcType=VARCHAR},#{sourceType,jdbcType=VARCHAR},#{sourceKeyword,jdbcType=VARCHAR}
        ,#{promptText,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},#{isDefault,jdbcType=TINYINT}
        ,#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{status,jdbcType=CHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="ip_id" keyProperty="ipId" parameterType="org.luckycloud.domain.emoji.CloudEmojiIpInfoDO" useGeneratedKeys="true">
        insert into cloud_emoji_ip_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="ipId != null">ip_id,</if>
                <if test="userId != null">user_id,</if>
                <if test="name != null">name,</if>
                <if test="imageUrl != null">image_url,</if>
                <if test="sourceType != null">source_type,</if>
                <if test="sourceKeyword != null">source_keyword,</if>
                <if test="promptText != null">prompt_text,</if>
                <if test="description != null">description,</if>
                <if test="isDefault != null">is_default,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="ipId != null">ip_id = #{ipId,jdbcType=VARCHAR},</if>
                <if test="userId != null">user_id = #{userId,jdbcType=VARCHAR},</if>
                <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
                <if test="imageUrl != null">image_url = #{imageUrl,jdbcType=VARCHAR},</if>
                <if test="sourceType != null">source_type = #{sourceType,jdbcType=VARCHAR},</if>
                <if test="sourceKeyword != null">source_keyword = #{sourceKeyword,jdbcType=VARCHAR},</if>
                <if test="promptText != null">prompt_text = #{promptText,jdbcType=VARCHAR},</if>
                <if test="description != null">description = #{description,jdbcType=VARCHAR},</if>
                <if test="isDefault != null">is_default = #{isDefault,jdbcType=TINYINT},</if>
                <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="status != null">status = #{status,jdbcType=CHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.luckycloud.domain.emoji.CloudEmojiIpInfoDO">
        update cloud_emoji_ip_info
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=VARCHAR},
                </if>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="imageUrl != null">
                    image_url = #{imageUrl,jdbcType=VARCHAR},
                </if>
                <if test="sourceType != null">
                    source_type = #{sourceType,jdbcType=VARCHAR},
                </if>
                <if test="sourceKeyword != null">
                    source_keyword = #{sourceKeyword,jdbcType=VARCHAR},
                </if>
                <if test="promptText != null">
                    prompt_text = #{promptText,jdbcType=VARCHAR},
                </if>
                <if test="description != null">
                    description = #{description,jdbcType=VARCHAR},
                </if>
                <if test="isDefault != null">
                    is_default = #{isDefault,jdbcType=TINYINT},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=CHAR},
                </if>
        </set>
        where   ip_id = #{ipId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.luckycloud.domain.emoji.CloudEmojiIpInfoDO">
        update cloud_emoji_ip_info
        set
            user_id =  #{userId,jdbcType=VARCHAR},
            name =  #{name,jdbcType=VARCHAR},
            image_url =  #{imageUrl,jdbcType=VARCHAR},
            source_type =  #{sourceType,jdbcType=VARCHAR},
            source_keyword =  #{sourceKeyword,jdbcType=VARCHAR},
            prompt_text =  #{promptText,jdbcType=VARCHAR},
            description =  #{description,jdbcType=VARCHAR},
            is_default =  #{isDefault,jdbcType=TINYINT},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            status =  #{status,jdbcType=CHAR}
        where   ip_id = #{ipId,jdbcType=VARCHAR}
    </update>

    <!-- 根据条件查询角色IP列表 -->
    <select id="selectIpList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cloud_emoji_ip_info
        <where>
            status = '1'
            <if test="query.userId != null and query.userId != ''">
                AND user_id = #{query.userId}
            </if>
            <if test="query.name != null and query.name != ''">
                AND name LIKE CONCAT('%', #{query.name}, '%')
            </if>
            <if test="query.sourceType != null and query.sourceType != ''">
                AND source_type = #{query.sourceType}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
